<!-- footer
    ================================================== -->
    <footer>

        <div class="footer-main">
            <div class="row">

                <div class="col-three md-1-3 tab-full footer-info">

                    <div class="footer-logo"> <a class="navbar-brand" href="index.html">
                        <img src="/assets/custom/logo_200px.png" alt="logo" style="max-width: 180% !important;">
                        </a></div>

                </div> <!-- end footer-info -->



                <div class="col-two md-1-3 tab-1-2 mob-full footer-site-links">

                    <h4>Participación</h4>

                    <ul class="list-links">
                        <li><a href="#">Transparencia </a></li>
                        <li><a href="#">Presupuestos</a></li>
                        <li><a href="#">Datos Abiertos</a></li>
                    </ul>

                </div> <!-- end footer-site-links -->

                <div class="col-four md-1-2 tab-full footer-subscribe">

                    <h4>Gobierno abierto</h4>

                    <p>Este portal usa la aplicación<a href="https://github.com/consul/consul" style="color:#b1aeae !important"> consul</a> que es software de código abierto. Para asistencia técnica entra en Asistencia técnica</p>



                </div> <!-- end footer-subscribe -->

            </div> <!-- /row -->
        </div> <!-- end footer-main -->


      <div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span><a href="#">Politica de privacidad</a></span>
		         	<span><a href="#">Condiciones de uso </a></span>
               <span><a href="#">Accesibilidad</a></span>
		         </div>

		         <div id="go-top">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"></i></a>
		         </div>
	      	</div>

      	</div> <!-- end footer-bottom -->

      </div>

    </footer>
